modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://zpvisupiqrtjllavblim.supabase.co"
VITE_SUPABASE_ANON_KEY = "sb_publishable_Akb48MGUYXpHh-v8F8o1Ug_r-E8Yo5C"
VITE_SUPABASE_SERVICE_ROLE_KEY = "sb_publishable_Akb48MGUYXpHh-v8F8o1Ug_r-E8Yo5C"

[nix]
channel = "stable-25_05"
